@model VoylokTrade.Models.Good

@{
    ViewData["Title"] = "Редактирование";
}

<h2>Редактирование товара</h2>

<h4>Товар</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightInGramms" class="control-label"></label>
                <input asp-for="WeightInGramms" class="form-control" />
                <span asp-validation-for="WeightInGramms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoxSize" class="control-label"></label>
                <input asp-for="BoxSize" class="form-control" />
                <span asp-validation-for="BoxSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinOrger" class="control-label"></label>
                <input asp-for="MinOrger" class="form-control" />
                <span asp-validation-for="MinOrger" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">К списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
