@model VoylokTrade.Models.Good

@{
    ViewData["Title"] = "Редактирование";
}

<h2>Редактирование товара</h2>

<h4>Товар</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TareVolume" class="control-label"></label>
                <input asp-for="TareVolume" class="form-control" />
                <span asp-validation-for="TareVolume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerGood" class="control-label"></label>
                <input asp-for="PricePerGood" class="form-control" />
                <span asp-validation-for="PricePerGood" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightType" class="control-label"></label>
                <input asp-for="WeightType" class="form-control" />
                <span asp-validation-for="WeightType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceMarkupInPercent" class="control-label"></label>
                <input asp-for="PriceMarkupInPercent" class="form-control" />
                <span asp-validation-for="PriceMarkupInPercent" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TimeStamp" class="control-label"></label>
                <input asp-for="TimeStamp" class="form-control" />
                <span asp-validation-for="TimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListForOur">К списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
