@model VoylokTrade.Models.Good

@{
    ViewData["Title"] = "MassAdding";
}

<h2>MassAdding</h2>

<h4>MassAdding</h4>
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("MassAdding", "Goods", FormMethod.Post))
        {
            <textarea id="textarea" name="str" value="">123
1234
132
111
222
123123
 123
321
 1111</textarea>

            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        }
    </div>

</div>
<div>
    <a asp-action="ListForOur">К списку</a>
</div>

